{% extends 'base.html' %}
{% include 'adminHeader.html' %}

{% block title %} Home {% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
            <h2>Manage Products <button type="button" class="btn btn-success float-end"
                data-bs-toggle="modal" data-bs-target="#addproductmodal">Add New Product</button></h2>

                {% with messages = get_flashed_messages() %}

                {% if messages %}
                
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor %}
                {% endif %}
                {% endwith%}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for product in products: %}
                    <tr>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.image }}</td>
                        <td>£{{ product.price }}</td>
                        <td>{{ product.type }}</td>
                        <td><a href="/edit/{{ product.product_id }}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#editproductmodal{{product.product_id}}">Edit</a></td>
                        <td><a href="/delete/{{ product.product_id }}" type="button" class="btn btn-danger btn-xs" onclick="return confirm('Are you Sure?')">Delete</button></td>
                    </tr>

<!-- Edit Product Modal -->
<div class="modal fade" id="editproductmodal{{ product.product_id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
        </div>
        <form action="" method="POST">
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}
          <div class="modal-body">
                  <div class="form-group">
                    {{ form.product_id.label }}
                    {{ form.product_id(value=product.product_id, class="form-control", type="number", readonly="true") }}
                  </div>
                  <div class="form-group">
                      {{ form.name.label }}
                      {{ form.name(class="form-control", value=product.name) }}
                  </div>
                  <div class="form-group">
                      {{ form.image.label }}
                      {{ form.image(class="form-control", value=product.image) }}
                  </div>
                  <div class="form-group">
                      {{ form.price.label }}
                      {{ form.price(class="form-control", type="number", value=product.price) }}
                  </div>
                  <div class="form-group">
                      {{ form.type.label }}
                      {{ form.type(class="form-control", value=product.type) }}
                  </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
          
                    {% endfor %}
                
                  </table>

            </div>
        </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addproductmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
      </div>
      <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="modal-body">
                <div class="form-group">
                    <label>{{ form.name.label }}</label>
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>{{ form.image.label }}</label>
                    {{ form.image(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>{{ form.price.label }}</label>
                    {{ form.price(class="form-control", type="number") }}
                </div>
                <div class="form-group">
                    <label>{{ form.type.label }}</label>
                    {{ form.type(class="form-control") }}
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

