body {
    background-color: #454B5E;
    font-family: Verdana, Arial, Sans-serif;
}

.topBanner {
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}


button {
    background-color: #FF9900;
}


#categoryBar {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.categoryLink {
    color: rgb(255, 255, 255);
    text-align: center;
    border-right-style: solid;
    padding-left: 1%;
    padding-right: 1%;
    
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: #2BC9DE;
}

a:active {
    color: #2BC9DE;
}


.trendingProducts {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    max-width: 1850px;
    height: 250px;
    background-color: #FF9900;
}

.productBar {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    max-width: 1850px;
    height: 250px;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CACACA;
    margin: auto;
    border-radius: 25px;
    padding-top: 25px;
    height: 175px;
    width: 150px;
}

.album {
    padding: 0px;
    font-size: 16px;
}

.artist {
    padding: 0px;
    font-size: 14px;
}

.productSection {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    max-width: 1850px;
    height: 500px;
    background-color: #D9D9D9;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    max-width: 1850px;
    height: 490px;
    overflow: auto;
}

