<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class=header>
        <div class=topBanner>
            <a href="/">
                <img src='../static/wmgzon_logo.png' alt="wmgzon logo" style="width: 250px;"/>
            </a>
        </div>
    </div>
    <div>
        <input type="text" placeholder="Username" style="width: 500px; height: 30px;">
        <input type="text" placeholder="Password" style="width: 500px; height: 30px;">
        <button>Submit</button>
    </div>
</body>
</html>