<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <h1>ADMIN</h1>
    <table class="fixed_header">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Account Type</th>
            <th>Date Added</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users: %}
            <tr>
              <td>{{ user.user_id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.type }}</td>
              <td>{{ user.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="fixed_header">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Type</th>
          <th>Edit Product</th>
        </tr>
      </thead>
      <tbody>
          {% for product in products: %}
          {% if product_id == product.product_id: %}
            <form method="post">
              <tr>
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <td>{{ product.product_id }}</td>
                <td>{{ form.name }}</td>
                <td>{{ form.image }}</td>
                <td>{{ form.price }}</td>
                <td>{{ form.type }}</td>
                <td>{{ form.submit }}</td>
              </tr>
            </form>
          {% else: %}
            <tr>
              <td>{{ product.product_id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.image }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.type }}</td>
              <td><a href="{{ url_for('edit_product', product_id=product.product_id) }}">EDIT</a></td>
            </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
  <a href="{{ url_for('add_product') }}"><button>Add Product</button></a>
</body>
</html>