<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <form action="" method="post">
        <label for="alb_title">album title</label>
        <input id="alb_title" type="text" placeholder="album title"><br>
        <label for="alb_title">album artwork</label>
        <input id="alb_artwork" type="text" placeholder="album artwork"><br>
        <label for="collection_type">collection type</label>
        <select id="collection_type" name="collection_type">
            <option value="Single">Single</option>
            <option value="EP">EP</option>
            <option value="LP">LP</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</body>