<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script>
        function showOtherField() {
            var new_name = document.getElementById("new_artist_name");
            
            if (document.getElementById("artist_name_option").value == "other") {
                new_name.style.display = "block";
            } else {
                new_name.style.display = "none"
            }
        }
    </script>
</head>

<body>
    <form action="{{ url_for('admin')}}" method="post">
        {{ form.album_name.label }}
        {{ form.album_name }}
        <br>
        {{ form.artwork.label }}
        {{ form.artwork }}
        <br>
        {{ form.collection_type.label }}
        {{ form.collection_type }}
        <br>
        {{ form.genre.label }}
        {{ form.genre }}
        <br>
        {{ form.year.label }}
        {{ form.year}}
        <br>
        {{ form.artist_name.label }}
        <select id="artist_name_option", onchange="showOtherField()">
            {% for value, label in form.artist_name.choices: %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
            <option value="other">Other</optin>
        </select>
        <div id="new_artist_name" style="display: none;">
            {{ form.new_artist_name.label }}
            {{ form.new_artist_name }}
            <br>
            {{ form.artist_bio.label }}
            {{ form.artist_bio }}
        </div>
        <br>
        {{ form.submit }}
    </form>
</body>
