{% extends "base.html" %}
{% include "headers/accountHeader.html" %}
{% block body %}

<div class="container">
    <h1 class="jumbotron p-3" id="basketHeading">Your Basket</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3" id="tableContainer"></div>
        </div>
    </div>
    <div class="float-end">
        <h4 id="totalPriceDisplay" style="display: none;">Total Price: £<span id="totalPrice"></span></h4>
        <!-- <a href="{{ url_for('checkout') }}"> -->
            <button type="button" onclick="submitBasket()" class="btn btn-outline-success" 
            id="checkoutButton" style="display: none;">Checkout</button>
        <!-- </a> -->
    </div>
</div>

<script>
    function totalPrice() {
        const basketData = JSON.parse(localStorage.getItem("basket"));
        let total = 0;
        basketData.forEach(rowData => {
            let rowTotal = rowData['price'] * rowData['quantity']
            
            total += rowTotal
        });

        document.getElementById("totalPrice").innerText = total
    }

    function submitBasket() {
        const xml = new XMLHttpRequest();
        xml.open("POST","{{ url_for('checkout')}}", true);
        xml.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xml.onload = function() {
            const dataReply = JSON.parse(this.responseText)
            alert(dataReply)
        }

        dataSend = JSON.stringify(localStorage.getItem('basket'))
        xml.send(dataSend)

        window.location.href = "/checkout";
    }


    function displayBasket() {
        const basketData = JSON.parse(localStorage.getItem("basket"));
        const checkoutButton = document.getElementById("checkoutButton")
        const totalPriceDisplay = document.getElementById("totalPriceDisplay")
        // Basket Empty
        if (basketData.length == 0) {
            const emptyBasket = document.getElementById("basketHeading")
            emptyBasket.textContent = "Your Basket is Empty"
        // Basket Contains Products
        } else {
            const headers = Object.keys(basketData[0])
            console.log(headers)
            
            // Creates basketTable
            const basketTable = document.createElement("table");
            basketTable.id = "basketTable";
            basketTable.className = "table table-hover table-light";

            // Sets the basketTable header
            const basketTableHeader = basketTable.createTHead();
            const basketTableHeaderRow = basketTableHeader.insertRow();
            headers.forEach( header => {
                const th = document.createElement("th");
                th.textContent = header;
                basketTableHeaderRow.appendChild(th);
            });

            const removeItemHeader = document.createElement("th");
            removeItemHeader.textContent = "remove item";
            basketTableHeaderRow.appendChild(removeItemHeader);

            // Sets the basketTable body
            const basketTableBody = basketTable.createTBody()
            basketData.forEach(function(rowData) {
                const basketRow = document.createElement("tr");
                headers.forEach(function(header) {
                    const cell = document.createElement("td");
                    cell.textContent = rowData[header];
                    basketRow.appendChild(cell);
                });
                const removeProductCell = document.createElement("td");
                const removeProductButton = document.createElement("button");
                removeProductButton.textContent = "Remove";
                removeProductButton.className = "btn btn-danger btn-xs";
                removeProductButton.addEventListener("click", function() {
                    basketData.splice(basketData.indexOf(rowData), 1);
                    // Remove data from local storage
                    localStorage.setItem("basket", JSON.stringify(basketData));
                    // remove data from basket table 
                    basketTableBody.removeChild(basketRow);
                    if (basketData.length == 0) {
                        const emptyBasket = document.getElementById("basketHeading");
                        emptyBasket.textContent = "Your Basket is Empty";
                        basketTable.remove()
                        // Removes total price and checkout button when no products available
                        totalPriceDisplay.style.display = "none"
                        checkoutButton.style.display = "none"
                    }
                    // Recalculates total price
                    totalPrice();
                });
                removeProductCell.appendChild(removeProductButton);
                basketRow.appendChild(removeProductCell)

                // Adds row to the table
                basketTableBody.appendChild(basketRow)
            });

            // Append the basketTable to the container
            const tableContainer = document.getElementById("tableContainer")
            tableContainer.appendChild(basketTable)

            // Display the total price and checkout button
            totalPriceDisplay.style.display = "block"
            checkoutButton.style.display = "block"
        } 
    }

    displayBasket();
    totalPrice();
</script>

{% endblock %}