{% extends "base.html" %}
{% include "headers/plainHeader.html" %}
{% block body %}
{% if data_check %}
<div class="container">
    <h1 class="jumbotron p-3" id="basketHeading">Your Basket</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3" id="tableContainer">
                <table id="basketTable" class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Remove Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product, basket in data %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.name }}</td>
                            <td>£{{ product.price }}</td>
                            <td>{{ basket['quantity'] }}</td>
                            <td>
                                <form action="/remove_from_basket" method="POST">
                                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                    <button class="btn btn-danger btn-xs">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="float-end">
        <h4 id="totalPriceDisplay">Total Price: £{{ total_price }}</h4>
        <a href="{{ url_for('checkout') }}">
            <button type="button" onclick="submitBasket()" class="btn btn-outline-success"
                id="checkoutButton">Checkout</button>
        </a>
    </div>
</div>

{% else %}
<h1 class="jumbotron p-3" id="basketHeading">Your Basket is Empty</h1>
{% endif %}
{% endblock %}