{% extends 'base.html' %}
{% include 'headers/productHeader.html' %}
{% block body %}
<script>
    const currentPath = window.location.pathname;
    const id = currentPath.substring(1);

    const currentPage = document.getElementById(id);
    currentPage.classList.add("active")
</script>
{% if products %}
<div class="trendingProducts" id="productBar"
    style="background-color: orange; border-radius: 25px; margin: 10px; padding: 15px;">
    <h3 style="padding-left:25px; margin-top: 5px;">Trending Right Now</h3>
    <div class="productBar">
        <div class="card-group">
            {% for product in popular_products: %}
            <div class="col-lg-1" style="margin:10px;">
                <a href="{{ url_for('get_product_page', product_id=product.product_id) }}">
                    <div class="card" style="border-radius: 25px; height: 215px;">
                        <img src="static\products_artwork\{{ product.image }}"
                            style="border-top-left-radius: 25px; border-top-right-radius: 25px;"
                            alt="{{ product.name }} album art">
                        <div class="card-body justify-content-center">
                            <p class="card-text">{{ product.name }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="productSection" style="background-color: lightgrey; border-radius: 25px; margin: 10px; padding: 15px;">
    {% if page_name == "music" %}
    <div id="productHeader" class="container-fluid" style="background-color: grey; border-radius: 50px; height:105%;">
        <div id="filters" class="row" style="padding: 10px;">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#filterModal">
                            <h4>Filter</h4>
                        </button>
                    </div>
                    <div class="col-md-11" style="margin-top: auto; margin-bottom: auto;">
                        <form id="productSortForm" class="row col-md-2" action="/{{ page_name }}" method="POST">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <h4><label for="sortOptions" class="ps-3 mb-0">Sort:</label></h4>
                            </div>
                            <div class="col-3">
                                <select name="sort" id="sortOptions" class="form-select w-auto">
                                    <option value="descend">Release Year: Newest to Oldest</option>
                                    <option value="ascend">Release Year: Oldest to Newest</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: auto; margin-bottom: auto;">
                <div id="productTotal" class="float-end">
                    <h4>{{ products | length }} Result{% if products | length > 1 %}s{% endif %}</h4>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <div class="card-group">
        {% for product in products: %}
        <div class="col-md-2" style="margin:10px;">
            <a href="{{ url_for('get_product_page', product_id=product.product_id) }}">
                <div class="card" style="border-radius: 25px;">
                    <img src="static\products_artwork\{{ product.image }}"
                        style="border-top-left-radius: 25px; border-top-right-radius: 25px;"
                        alt="{{ product.name }} album art">
                    <div class="card-body justify-content-center">
                        <h3 class="card-text">{{ product.name }}</h3>
                        <h5 class="card-text prices">{{ product.price }}</h5>
                        <script>priceConversion('h5', 'prices')</script>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


</div>
{% else %}
<h1>{{ page_name }} Page Coming Soon</h1>
{% endif %}
<script>
    let selectedOption = localStorage.getItem("selectedOption");
    if (selectedOption) {
        document.getElementById("sortOptions").value = selectedOption
    }

    document.getElementById("sortOptions").addEventListener("change", function () {
        localStorage.setItem("selectedOption", this.value)

        document.getElementById("productSortForm").submit()
        console.log("REQUEST SENT")
    })
</script>


<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {{ filter_form.csrf_token }}
                    {{ filter_form.hidden_tag() }}
                    {{ filter_form.artist.label }}
                    {{ filter_form.artist(class="form-control") }}
                    {{filter_form.genre.label }}
                    {{filter_form.genre(class="form-control") }}
            </div>
            <div class="modal-footer">
                {{ filter_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}