{% extends "layout/layoutMain.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="trendingProducts" id="productBar">
    <h3 style="padding-left:25px; margin-top: 5px;">Trending Right Now</h3>
    <div class="productBar">
        <!-- {% for product in products: %}
        <div class="productCard">
            <img src="static\products_artwork\{{ product[3] }}" alt="{{ product[2] }} album art" style="width: 100px;">
            <alb class="album">{{ product[2] }}</alb>
            <artist class="artist">{{product[1]}}</artist>
            <button>Choose Format</button>
        </div>
        {% endfor %} -->
    </div>
</div>

<div class="productSection">
    <div class="productList">
        {% for product in products: %}
        <div class="productCard">
            <img src="static\products_artwork\{{ product.artwork }}" alt="{{ product.name }} album art" style="width: 100px;">
            <alb class="album">{{ product.name }}</alb>
            {% for artist in product.album_artists: %}
                <artist class="artist">{{ artist.name }}</artist>
            {% endfor %}
            <a href="{{ url_for('get_product_page', album_id= product.album_id) }}">
                <button id="productPageButton">Choose Format</button>
            </a>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}

