<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class=header>
        <div class=topBanner>
            <a href="/">
                <img src='../static/wmgzon_logo.png' alt="wmgzon logo" style="width: 250px;"/>
            </a>

            <div class="searchBar">
                <input type="text" placeholder="Find your favourite products" style="width: 500px; height: 30px;">
                <button type="button" style="height: 30px;">SEARCH</button>
            </div>

            <a href="/basket">
                <img src='../static/shopping_cart.png' alt="speedy basket" style="width: 100px; height: 100px;"/>
            </a>

            <a href="/accountSignIn">LOGIN/SIGNUP</a>
        </div>
        
    
        <div id="categoryBar">
            <div class="categoryLink">
                <a href="{{ url_for('animals') }}">Animals</a>
            </div>
            <div class="categoryLink">
                <a href="{{ url_for('books') }}">Books</a>
            </div>
            <div class="categoryLink">
                <a href="{{ url_for('car_parts') }}">Car Parts</a>
            </div>
            <div class="categoryLink">
                <a href="{{ url_for('music') }}">Music</a>
            </div>
            <div class="categoryLink">
                <a href="{{ url_for('phones') }}">Phones</a>
            </div>
            <div class="categoryLink" style="border-right-style: none">
                <a href="{{ url_for('sports') }}">Sports</a>
            </div>
        </div>
    </div>

    <div class="trendingProducts" id="productBar">
        <h3 style="padding-left:25px; margin-top: 5px;">Trending Right Now</h3>
        <div class="productBar">
            {% for album in albums: %}
            <div class="productCard">
                <img src="static\products_artwork\{{ album[1] }}" alt="back in black album art" style="width: 100px;">
                <alb class="album">{{ album[0] }}</alb>
                <artist class="artist">{{product["artist_name"]}}</artist>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="productSection">
        <div class="productList">
            {% for product in productlist: %}
            <div class="productCard">
                <img src="static\products_artwork\backinblack_acdc.png" alt="back in black album art" style="width: 100px;">
                <alb class="album">{{product["album_title"]}}</alb>
                <artist class="artist">{{product["artist_name"]}}</artist>
            </div>
            {% endfor %}
        </div>
        
    </div>
    

</body>
</html>