{% extends 'base.html' %}
{% include 'headers/productHeader.html' %}

{% block body %}
<div class="300-px-height">
  <div id="carouselExampleInterval" class="carousel slide h-100" style="max-height: 100vh;" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="static\products_artwork\backinblack_acdc.jpg" class="d-block h-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="static\products_artwork\rockorbust_acdc.jpg" class="d-block h-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="static\products_artwork\highwaytohell_acdc.jpg" class="d-block h-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}