{% extends 'base.html' %}
{% include 'headers/productHeader.html' %}
{% block body %}
<div style="margin-left: 50px; margin-right: 50px;">
    <div class="row" style="padding: 10px; border-radius: 25px;">
        <div class="box col-lg-3 d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="../static/products_artwork/{{ product.image }}" alt="artwork"
                style="border-radius: 25px; max-width: 100%; margin: auto;">
            </div>
        </div>
        <div class="box col-lg-6">
            <h2 style="display: inline; margin-right: 10px;">{{ product.name }}</h2>
            {% if product.music_info %}
            <h6 style="display: inline;"><i>{{ product.music_info[0].artists.name }}</i></h6>
            {% else %}
            <h6 style="display: inline;"><i>Unknown Artist</i></h6>
            {% endif %}
            <div class="table-container" style="overflow-y: scroll; max-height: 300px; margin: 10px;">
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Length</th>
                    </tr>
                    {% for song in album.songs: %}
                    <tr>
                        <td>{{ song.song_id }}</td>
                        <td>{{ song.name }}</td>
                        <td>{{ song.length }} Seconds</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="box col-lg-3" style="background-color: white; border-radius: 5px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h2><i>Format</i></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <form action="/add_to_basket" method="POST">
                            <input type="hidden" name="product_id" value="{{ product.product_id }}">
                            <div class="list-group">
                                <label class="btn btn-primary list-group-item">
                                    <input type="radio" name="options"> Vinyl
                                </label>
                                <label class="btn btn-primary list-group-item">
                                    <input type="radio" name="options"> CD
                                </label>
                                <label class="btn btn-primary list-group-item">
                                    <input type="radio" name="options"> Cassette
                                </label>
                                <label class="btn btn-primary list-group-item">
                                    <input type="radio" name="options"> Digital
                                </label>
                            </div>
                            <div class="row">
                                <label for="quantityField">Quantity:</label>
                                <select id="quantityField" name="quantity">
                                    {% for quantity in range(1, 6) %}
                                    <option value="{{ quantity }}">{{ quantity }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <h5 class="prices" style="display: inline;">{{ product.price }}</h5>
                            <script>priceConversion('h5', 'prices')</script>
                            <button class="btn btn-primary" type="submit">Add to Basket</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col-lg-9">
            {% if product.music_info %}
            <h3><i>{{ album.artists.name }} Bio</i></h3>
            {{ album.artists.bio }}
            {% else %}
            <h3><i>Unknown Artist</i></h3>
            ...
            {% endif %}
        </div>
        <div class="box col-lg-3">
            <h3><i>Customer Rating</i></h3>
            <p>*****</p>
        </div>
    </div>
</div>

{% endblock %}