<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        
        {{ form.name.label }}
        {{ form.name }}
        <br>
        {{ form.image.label }}
        {{ form.image }}
        <br>
        {{ form.price.label }}
        {{ form.price }}
        <br>
        {{ form.type.label }}
        {{ form.type}}
        <br>
        {{ form.submit }}
    </form>
</body>
