<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class=header>
        <div class=topBanner>
            <a href="/">
                <img src='../static/wmgzon_logo.png' alt="wmgzon logo" style="width: 250px;"/>
            </a>
        </div>
    </div>
    <a href="{{ url_for('login')}}">LOG IN</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>
        <form class="register form" action="http://127.0.0.1:5000/register" method="post">
            <table>
                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>{{ form.submit }}</td>
                </tr>
            </table>
        </form>
    </div>
</body>


</html>