{% extends 'base.html' %}
{% include 'headers/productHeader.html' %}
{% block body %}
<div class="card-group">
    {% for product in products: %}
    <div class="col-md-2">
        <a href="{{ url_for('get_product_page', product_id=product.product_id) }}">
            <div class="card">
                <img src="static\products_artwork\{{ product.image }}" alt="{{ product.name }} album art">
                <div class="card-body">
                    <p class="card-text">{{ product.name }}</p>
                    <p class="card-text">{{ product.price }}</prc>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}