!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class=header>
        <div class=topBanner>
            <a href="/">
                <img src='../static/wmgzon_logo.png' alt="wmgzon logo" style="width: 250px;"/>
            </a>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% endblock %}
    {% block content %}
    <a href="{{ url_for('register')}}">SIGN UP</a>
    {% endblock %}
</body>
</html>